In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df= pd.read_csv('IRIS.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df['sepal_length'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [5]:
label_encode = LabelEncoder()

In [6]:
labels = label_encode.fit_transform(df.sepal_length)

In [7]:
df['sepal_length'] = labels

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0             8          3.5           1.4          0.2  Iris-setosa
1             6          3.0           1.4          0.2  Iris-setosa
2             4          3.2           1.3          0.2  Iris-setosa
3             3          3.1           1.5          0.2  Iris-setosa
4             7          3.6           1.4          0.2  Iris-setosa